@font-face {
    font-family: 'Citynight';
    src: url('fonts/Citynight.otf') format('opentype');
    /* Additional font properties like font-weight and font-style can be specified here */
  }
  
  body {
    font-family: 'Citynight', sans-serif; /* Use the custom font for the body or specific elements */
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: top;
    justify-content: top;
    font-size: 18px;
    background: url(./background.jpg);
    background-size: cover;
  }
 
  #title {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 5.5rem;
    color: #fdf5e6;
    border: 5px;
    border-color: rgb(255, 153, 0);
    
   
}
  